
button {
  font-weight: normal !important;
}

.center {
  text-align: center;
}

.container{
  padding: 0;
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-area{
  float: left;
  position: relative;
  width: 53%;
  margin-top: 10px;
}

.click-holder{
  width: 100%;
  height: 500px;
}

.click-holder h2{
  text-align: center;
}

.generator-dock{
  float: right;
  width: 43%;
  margin-top: 10px;

}

.generator-holder{
  height: 500px;
  overflow-y: scroll;
}

.generator-container{
  float:right;
  display: table;
  width: 300px;
  background-color: purple;
  padding: 5px;
  overflow: hidden;
}

.generatorcontent-left{
  background-color: green;
  float: left;
  width: 50%;
}

.generatorcontent-right{
  background-color: lime;
  float: right;
  width: 50%;
}

.rectangle {
  background: dimgray;
  border: 1px solid #999;
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.rectangle:focus {
  outline: none;
}

.rectangle:disabled {
  background: black;
  color: gray;
}

.rectangle:active {
  background: darkblue;
  transform: translateY(4px);
}

.rectangle-amount, .rectangle-cost, .rectangle-name {
  position: relative;
  font-size: 18px;
  color:lightslategray;
}

.rectangle-name {
  font-size: 18px;
  font-weight: bold !important;
  color: white;
}

.rectangle-cost-dis, .rectangle-amount-dis, .rectangle-name-dis {
  color:gray;
}

.square {
  background: green;
  border: 1px solid #999;
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 220px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.square:focus {
  outline: none;
}

.square:active {
  background: #3e8e41;
  transform: translateY(4px);
}
